* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
    margin: 0 auto;
    width: 1400px;
}

.wrapper {
    background-color: #ecd3cb;
    }
